# Dependencies
node_modules
.pnp
.pnp.js

# Turbo
.turbo

# Build outputs
dist
build
.next
out

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
packages/db/node_modules/.prisma

# IDE
.vscode/settings.json
.idea

refs/
